{% assign output = "" %}
{% if include.authors and include.authors != "Bugzilla Team" %}
  {% assign links = "" %}
  {% for author in include.authors %}
    {% assign profile = site.developers | where: "nickname", author | first %}
    {% capture link %}<a class="muted" href="https://bugzilla.org/about/developers/{{ profile.nickname }}" target="_blank">{{ profile.firstname }} {{ profile.lastname }} ({{ profile.nickname }})</a>,{% endcapture %}
    {% assign links = links | append: link %}
  {% endfor %}
  {% assign output = links | split: ',' | array_to_sentence_string %}
{% else %}
  {% capture output %}<a class="muted" href="https://bugzilla.org/about/developers/" target="_blank">Bugzilla Team</a>{% endcapture %}
{% endif %}
<p class="authors muted">by {{ output }}</p>
