<footer id="footer">
  <div class="inner">
    <ul id="socials">
      {%- for social in site.data.socials -%}
      <li><a href="{{ social.url }}" title="{{ social.name }}" rel="me" target="_blank">{% include icons/{{ social.icon }} %}<span class="sr-only">{{ social.name }}</span></a></li>{%- endfor -%}
    </ul>
    {% capture license %}{% include icons/creative-commons.svg size="24" %}{% include icons/creative-commons-by.svg size="24" %}{% include icons/creative-commons-sa.svg size="24" %}{% endcapture %}
    <hr/>
    <div id="bottom-footer">
      <span>Copyright &copy; 1998-{{ site.time | date: "%Y" }} bugzilla.org contributors</span>
      <span class="copyright"><span class="sr-only">Creative Commons Attribution-ShareAlike 2.0</span><a id="license" rel="license" href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">{{ license | strip_newlines }}</a><span>
    </div>
  </div>
</footer>
