<header id="header" class="{{page.header.class}}">
  <div class="inner">
    <a id="header-brand" {% if page.header.big %}class="big"{% endif %} href="/">
      <img id="header-logo" src="/assets/img/logo-header.svg" width="32" height="48">
      <span id="header-name">{{ site.title }}</span>
    </a>
    <button id="navbar-button" title="Show Nav Menu">Show Nav Menu</button>

    <div id="navbar">
      <ul id="navbar-nav">
        {% for item in site.data.nav %}
          {% if item.links %}
          {% assign current = false %}
          {% for link in item.links %}
            {% if link.link == page.url %}
              {% assign current = true %}
            {% endif %}
          {% endfor %}
          {% if item.link == page.url %}
            {% assign current = true %}
          {% endif %}
          <li class="dropdown{% if current == true %} active{% endif %}">
            <a class="dropdown-toggle" {% if item.title %}title="{{ item.title }}"{% endif %} href="{% if item.link %}{{ item.link }}{% else %}#{% endif %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for link in item.links %}
              <a {% if link.title %}title="{{ link.title }}"{% endif %} class="dropdown-item" href="{{ link.link }}">{{ link.name }}{% if link.link == page.url %} <span class="sr-only">(current)</span>{% endif %}</a>
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li class="{% if item.link == page.url %} active{% endif %}">
            <a {% if item.title %}title="{{ item.title }}"{% endif %} href="{{ item.link }}">{{ item.name }}{% if item.link == page.url %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <form role="search" method="get" action="https://www.google.com/cse">
        <span class="sr-only">Search bugzilla.org</span>
        <input type="hidden" name="cx" value="008043952663535741821:9whwb87ip5a">
        <span class="icon"></span>
        <input type="search" placeholder="Search" name="q" aria-label="Search">
      </form>
    </div>
  </div>
</header>
{% if page.breadcrumbs %}
<nav id="breadcrumbs" aria-label="breadcrumb">
  <div class="inner">
    <ol>
      {% for breadcrumb in page.breadcrumbs %}
      {% if forloop.last != true or breadcrumb.name != page.title %}
      <li><a href="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a></li>
      {% endif %}
      {% endfor %}
      <li class="current" aria-current="page">{{ page.title }}</li>
    </ol>
  </div>
</nav>
{% endif %}
