html {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

body {
  margin: 0;
  color: var(--application-foreground-color);
  background-color: var(--application-background-color);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-default);
  font-family: var(--font-family-sans-serif);
}

main {
  flex-grow: 1;
}

a { color: var(--link-text-color) }
a:hover { color: var(--hovered-link-text-color) }
a:visited { color: var(--visited-link-text-color) }

.sr-only { display: none; }

.inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  align-self: center;
  width: calc(100% - 32px);
}

h1 { font-size: var(--font-size-h1) }
h2 { font-size: var(--font-size-h2) }
h3 { font-size: var(--font-size-h3) }
h4 { font-size: var(--font-size-h4) }

#header {
  color: var(--application-header-foreground-color);
  background-color: var(--application-header-background-color);
}

#header.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

#header .inner {
  display: flex;
  flex-wrap: wrap;
}

#header-brand {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: var(--font-size-h3);
  color: var(--application-header-foreground-color);
  font-weight: bold;
  text-decoration: none;
}

#header-logo {
  width: 32px;
  height: 48px;
  margin-right: 4px;
}

#header-brand.big {
  font-size: var(--font-size-h2);
}

#header-brand.big #header-logo {
  width: 64px;
  height: 96px;
}

#navbar-button {
  display: none;
}

@media(max-width: 805px) {
  #navbar-button {
    display: block;
    font-size: 0;
    margin: auto 0 auto auto;
    border: 1px solid var(--secondary-application-header-background-color);
    border-radius: var(--button-border-radius);
    background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='%23c8c9ca' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='2' ry='0'/%3E%3Crect y='5' width='12' height='2'/%3E%3Crect y='10' width='12' height='2'/%3E%3C/svg%3E") var(--application-header-background-color) no-repeat 50%;
    width: 32px;
    height: 32px;
    transition: 0.1s;
  }
  #navbar-button:hover {
    background-color: var(--secondary-application-header-background-color);
  }
  #navbar, #navbar-nav {
    flex-direction: column;
    margin: 0!important;
    width: 100%;
  }
  #header .dropdown.show .dropdown-menu {
    display: block;
    position:unset;
    margin: 0 10px;
  }
  #navbar-nav, #navbar form, #navbar-nav, #navbar form input {
    width: 100%;
    margin: 5px 0;
  }
  #navbar:not(.show) {
    max-height: 0;
    flex-wrap: nowrap;
  }
}

#navbar {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100vh;
  transition: max-height 0.5s;
  overflow-y: auto;
}

#navbar-nav {
  margin-right: auto;
  flex-wrap: wrap;
}

#navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar-nav li a {
  padding: 8px;
  color: var(--application-header-foreground-color);
  text-decoration: none;
  display: block;
}

#navbar-nav li.dropdown > a:after {
  content: '▾'
}

.dropdown:not(.show) .dropdown-menu {
  display: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--menu-border-color);
  color: var(--menu-foreground-color);
  background-color: var(--menu-background-color);
  box-shadow: var(--menu-box-shadow);
  border-radius: var(--menu-border-radius);
  z-index: 1000;
  position: absolute;
}

.dropdown-menu .dropdown-item {
  color: var(--menu-foreground-color)!important
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--hovered-menuitem-background-color)
}

.bg-bugzilla {
  background: linear-gradient(to left, rgb(0, 92, 153), rgb(146, 72, 200));
  color: white;
}

.bg-bugzilla a {
  color: white!important;
}

.bg-bugzilla a.button {
  color: var(--secondary-button-foreground-color)!important;
}

form[role="search"] {
  display: flex;
  align-items: center;
  margin: 4px;
  max-width: 100%;
}

form[role="search"] .icon {
  font-size: 20px;
  line-height: 1;
  font-family: 'Material Icons';
  pointer-events: none;
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
}

form[role="search"] {
  position: relative;
}

form[role="search"] .icon::before {
  content: '\E8B6';
}

form[role="search"] input {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 8px 0 32px;
  color: var(--secondary-application-header-foreground-color);
  background-color: var(--secondary-application-header-background-color);
  font-size: var(--font-size-x-large) !important;
  line-height: 32px;
  outline: 0;
  max-width: 100%;
}

form[role="search"] input:focus {
  border-color: var(--focused-control-border-color);
}

.profile p {
  margin: 0;
  display: inline;
}

.profile .photo {
  max-width: 6rem;
}

pre.highlight {
  margin: 0;
  padding: 0.5rem;
}
.highlight, code {
  border-radius: 4px;
}

code {
  padding: 0.125rem 0.25rem;
}

#header-logo, #header-name {
  transition: 0.1s;
}

blockquote {
  padding: 1px 16px;
  background-color: var(--secondary-region-background-color);
  border: 0 solid var(--secondary-region-border-color);
  border-left-width: 6px;
  border-radius: 4px;
  margin: 0;
}

.card-body img {
  max-width: 100%;
  height: auto;
}

.req_new::after {
  content: "● NEW";
  display: inline-block;
  border: 1px solid var(--secondary-region-border-color);
  border-radius: 4px;
  padding: 0 4px;
  height: 16px;
  color: rgb(var(--accent-color-red-1));
  background-color: var(--secondary-region-background-color);
  font-size: var(--font-size-x-small);
  line-height: 16px;
  vertical-align: middle;
}

#footer {
  color: var(--application-header-foreground-color);
  background-color: var(--application-header-background-color);
  padding: 10px 0;
}

#socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#socials li a { 
  padding: 6px 2px;
  display: block;
  color: var(--application-header-foreground-color);
}

#bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#license {
  color: var(--application-header-foreground-color);
}

.thin {
  max-width: 700px;
  margin: auto;
}

.card {
  border: 1px solid var(--primary-region-border-color);
  box-shadow: var(--primary-region-box-shadow);
  background-color: var(--primary-region-background-color);
  padding: 20px;
  margin: 20px;
  border-radius: var(--primary-region-border-radius);
}

.card * {
  max-width: 100%;
  overflow-wrap: break-word;
}

.muted {
  color: var(--secondary-label-color);
}

.authors, .date, .title {
  margin: 3px 0;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  background-color: var(--primary-region-background-color);
  border: 1px solid var(--primary-region-border-color);
}

.pagination li a, .pagination li span {
  display: block;
  padding: 4px 8px;
}

.pagination li.active {
  background-color: var(--primary-button-background-color);
  border: 1px solid var(--primary-button-border-color);
  color: var(--primary-button-foreground-color);
}

.pagination li:not(:last-child) {
  margin-right: -1px;
}

.pagination li:first-child {
  border-top-left-radius: var(--primary-region-border-radius);
  border-bottom-left-radius: var(--primary-region-border-radius);
}

.pagination li:last-child {
  border-top-right-radius: var(--primary-region-border-radius);
  border-bottom-right-radius: var(--primary-region-border-radius);
}


#breadcrumbs {
  background-color: var(--secondary-application-header-background-color);
  color: var(--secondary-application-header-foreground-color);
  font-size: var(--font-size-large)
}
#breadcrumbs ol {
  display: flex;
  list-style: none;
  align-content: center;
  padding: 0;
  margin: 0;
}

#breadcrumbs ol li a, #breadcrumbs ol li.current {
  padding: 10px 3px;
  display: inline-block;
}

#breadcrumbs ol li + li::before {
  content: "/";
  display: inline-block;
  padding: 0 3px;
  font-weight: bold;
}

#breadcrumbs ol li + li.current::before {
  padding-right: 6px;
}

table {
  border-radius: var(--primary-region-border-radius);
  border-collapse: collapse;
  overflow: auto;
  width: 100%;
  overflow-x: scroll;
  display: block
}

table th {
  background-color: var(--secondary-region-background-color);
}

table th, table td {
  border: 1px solid var(--secondary-region-border-color);
  padding: 4px;
}

.button {
  display: inline-block;
  outline: 0;
  border-radius: var(--button-border-radius);
  border: 1px solid var(--secondary-button-border-color);
  padding: var(--button-padding);
  color: var(--secondary-button-foreground-color);
  background-color: var(--secondary-button-background-color);
  text-align: center;
  text-decoration: none;
}

.button:hover {
  border-color: var(--hovered-secondary-button-border-color);
  color: var(--hovered-secondary-button-foreground-color);
  background-color: var(--hovered-secondary-button-background-color);
}

.button:focus {
  border-color: var(--focused-control-border-color);
}

.button:active {
  border-color: var(--pressed-secondary-button-border-color);
  color: var(--pressed-secondary-button-foreground-color);
  background-color: var(--pressed-secondary-button-background-color);
}

.button.primary {
  padding: var(--button-padding);
  border-color: var(--primary-button-border-color);
  color: var(--primary-button-foreground-color);
  background-color: var(--primary-button-background-color);
  font-weight: 500;
}

.button.primary:hover {
  border-color: var(--hovered-primary-button-border-color);
  color: var(--hovered-primary-button-foreground-color);
  background-color: var(--hovered-primary-button-background-color);
}

.button.primary:active {
  border-color: var(--pressed-primary-button-border-color);
  color: var(--pressed-primary-button-foreground-color);
  background-color: var(--pressed-primary-button-background-color);
}

.row-inverse {
  display: flex;
  flex-direction: row-reverse;
}

.eighty {
  max-width: 80%
}

.twenty {
  max-width: 20%
}

@media (max-width: 800px) {
  .row-inverse {
    flex-direction: column;
  }
  .twenty, .eighty {
    max-width: 100%;
  }
}

.warning {
  background-color: var(--warning-message-background-color);
  border: 1px solid var(--warning-message-border-color);
  padding: 8px 12px;
}

.warning * {
  vertical-align: middle;
  display: inline-block
}

ul {
  padding-left: 15px;
}
