/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* components/breadcrumb */

#breadcrumbs {
  background-color: var(--secondary-application-header-background-color);
  color: var(--secondary-application-header-foreground-color);
  font-size: var(--font-size-large);
}
#breadcrumbs ol {
  display: flex;
  list-style: none;
  align-content: center;
  padding: 0;
  margin: 0;
}

#breadcrumbs ol li a,
#breadcrumbs ol li.current {
  padding: 10px 3px;
  display: inline-block;
}

#breadcrumbs ol li + li::before {
  content: '/';
  display: inline-block;
  padding: 0 3px;
  font-weight: bold;
}

#breadcrumbs ol li + li.current::before {
  padding-right: 6px;
}
