/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* base/miscs */

main {
  flex-grow: 1;
}

.inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  align-self: center;
  width: calc(100% - 32px);
}

.bg-bugzilla {
  background: linear-gradient(to left, rgb(0, 92, 153), rgb(146, 72, 200));
  color: white;
}

.bg-bugzilla a {
  color: white !important;
}

.bg-bugzilla a.button {
  color: var(--secondary-button-foreground-color) !important;
}

.profile p {
  margin: 0;
  display: inline;
}

.profile .photo {
  max-width: 6rem;
}

#header-logo,
#header-name {
  transition: 0.1s;
}

.req_new::after {
  content: '● NEW';
  display: inline-block;
  border: 1px solid var(--secondary-region-border-color);
  border-radius: 4px;
  padding: 0 4px;
  height: 16px;
  color: rgb(var(--accent-color-red-1));
  background-color: var(--secondary-region-background-color);
  font-size: var(--font-size-x-small);
  line-height: 16px;
  vertical-align: middle;
}

#footer {
  color: var(--application-header-foreground-color);
  background-color: var(--application-header-background-color);
  padding: 10px 0;
}

#socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#socials li a {
  padding: 6px 2px;
  display: block;
  color: var(--application-header-foreground-color);
}

#bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#license {
  color: var(--application-header-foreground-color);
}

.thin {
  max-width: 700px;
  margin: auto;
}

.muted {
  color: var(--secondary-label-color);
}

.authors,
.date,
.title {
  margin: 3px 0;
}

.row-inverse {
  display: flex;
  flex-direction: row-reverse;
}

.eighty {
  max-width: 75%;
}

.twenty {
  max-width: 25%;
}

@media (max-width: 800px) {
  .row-inverse {
    flex-direction: column;
  }
  .twenty,
  .eighty {
    max-width: 100%;
  }
}

.warning {
  background-color: var(--warning-message-background-color);
  border: 1px solid var(--warning-message-border-color);
  padding: 8px 12px;
  margin: 20px;
}

.warning * {
  vertical-align: middle;
  display: inline-block;
}
